{
  "servers": [
    {
      "id": "eb75e115-8421-408b-ac16-eaa97fed0727",
      "name": "tinyllama-test",
      "model_name": "tinyllama",
      "status": "active",
      "mode": "self-hosted",
      "endpoint_url": null,
      "model_path": "TheBloke/TinyLlama-1.1B-Chat-v1.0-GGUF",
      "backend_type": "llama-cpp",
      "backend_config": {
        "n_gpu_layers": 0,
        "embedding": false
      },
      "config": {},
      "created_at": "2025-11-05 11:46:03.145387",
      "updated_at": "2025-11-06 08:14:39.689504"
    },
    {
      "id": "a9a08fe5-bb3e-40a7-9604-f12a7344056b",
      "name": "qwen-mlx",
      "model_name": "qwen2.5-0.5b",
      "status": "active",
      "mode": "self-hosted",
      "endpoint_url": null,
      "model_path": "mlx-community/Qwen2.5-0.5B-Instruct-4bit",
      "backend_type": "mlx",
      "backend_config": {},
      "config": {},
      "created_at": "2025-11-05 12:00:06.698239",
      "updated_at": "2025-11-06 08:14:45.575365"
    },
    {
      "id": "3651aa57-b764-44e8-886c-6118ec943694",
      "name": "bge-reranker-v2-m3",
      "model_name": "bge-reranker-v2-m3",
      "status": "active",
      "mode": "self-hosted",
      "endpoint_url": null,
      "model_path": "BAAI/bge-reranker-v2-m3",
      "backend_type": "reranker",
      "backend_config": {},
      "config": {},
      "created_at": "2025-11-05 13:14:29.431597",
      "updated_at": "2025-11-05 14:18:57.055726"
    },
    {
      "id": "521fdb17-fd65-4469-bce5-7d3499678070",
      "name": "Qwen3 Embed MLX",
      "model_name": "qwen3-embed",
      "status": "active",
      "mode": "self-hosted",
      "endpoint_url": null,
      "model_path": "mlx-community/Qwen3-Embedding-0.6B-4bit-DWQ",
      "backend_type": "mlx",
      "backend_config": {},
      "config": {},
      "created_at": "2025-11-05 13:26:07.130356",
      "updated_at": "2025-11-05 14:18:22.920903"
    },
    {
      "id": "210fc063-b0d7-45de-802e-fab796358e34",
      "name": "bge-micro-v2",
      "model_name": "bge-micro-v2",
      "status": "active",
      "mode": "self-hosted",
      "endpoint_url": null,
      "model_path": "TaylorAI/bge-micro-v2",
      "backend_type": "sentence-transformers",
      "backend_config": {},
      "config": {},
      "created_at": "2025-11-05 13:46:09.075987",
      "updated_at": "2025-11-05 14:18:30.640074"
    },
    {
      "id": "ce5d6774-4715-4f91-9bee-b5aa32381844",
      "name": "Nomic Embed v1.5",
      "model_name": "nomic-embed-v1.5",
      "status": "active",
      "mode": "self-hosted",
      "endpoint_url": null,
      "model_path": "zyj2003lj/nomic-embed-text-v1.5-Q4_K_M-GGUF",
      "backend_type": "llama-cpp",
      "backend_config": {
        "n_gpu_layers": 0,
        "embedding": true
      },
      "config": {},
      "created_at": "2025-11-05 14:01:18.400117",
      "updated_at": "2025-11-05 14:18:21.440230"
    }
  ],
  "mcp_sessions": []
}